
/** Zasebni stil za EPP i S&D **/

body.royal_loader {
    /*Fix za scroller*/
	background: #CEC8B3;
}

#legend p {
	color: #A09F9F;
}
#cssmenu {
	background: #CEC8B3;
}
#cssmenu ul li ul li:hover > a,
#cssmenu ul li ul li.active > a {
	color: #CEC8B3;
}
#cssmenu ul li ul li:hover:after,
#cssmenu ul li ul li.active:after {
  background: #CEC8B3;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6); 
	background-color: #EAE3CA;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
	background-color: #CEC8B3;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}